[Desktop Entry]
Version=1.0
Name=Sublime Text 3
Comment=Sublime Text 3
Comment[en]=Lightweight text editor
GenericName=Sublime Text 3
Exec=/opt/sublime_text_3/sublime_text
Icon=/opt/sublime_text_3/Icon/128x128/sublime-text.png
StartupNotify=true
MimeType=text/x-utility;
Terminal=false
Type=Application
Categories=Programming;Other
